/*!
 * Generated with CSS Flag Sprite generator (https://www.flag-sprites.com/)
 */

.flag {
    display: inline-block;
    width: 18px;
    height: 12px;
    background: url('flags.png') no-repeat;
}


.flag.flag-ad {
    background-position: -18px 0;
}

.flag.flag-al {
    background-position: -36px 0;
}

.flag.flag-at {
    background-position: -54px 0;
}

.flag.flag-au {
    background-position: -72px 0;
}

.flag.flag-ax {
    background-position: -90px 0;
}

.flag.flag-ba {
    background-position: -108px 0;
}

.flag.flag-be {
    background-position: -126px 0;
}

.flag.flag-bg {
    background-position: 0 -12px;
}

.flag.flag-by {
    background-position: -18px -12px;
}

.flag.flag-ca {
    background-position: -36px -12px;
}

.flag.flag-ch {
    background-position: -54px -12px;
}

.flag.flag-cn {
    background-position: -72px -12px;
}

.flag.flag-cz {
    background-position: -90px -12px;
}

.flag.flag-de {
    background-position: -108px -12px;
}

.flag.flag-dk {
    background-position: -126px -12px;
}

.flag.flag-ee {
    background-position: 0 -24px;
}

.flag.flag-es {
    background-position: -18px -24px;
}

.flag.flag-fi {
    background-position: -36px -24px;
}

.flag.flag-fo {
    background-position: -54px -24px;
}

.flag.flag-fr {
    background-position: -72px -24px;
}

.flag.flag-gb, .flag.flag-en  {
    background-position: -90px -24px;
}

.flag.flag-gg {
    background-position: -108px -24px;
}

.flag.flag-gi {
    background-position: -126px -24px;
}

.flag.flag-gr {
    background-position: 0 -36px;
}

.flag.flag-hk {
    background-position: -18px -36px;
}

.flag.flag-hr {
    background-position: -36px -36px;
}

.flag.flag-hu {
    background-position: -54px -36px;
}

.flag.flag-ie {
    background-position: -72px -36px;
}

.flag.flag-il {
    background-position: -90px -36px;
}

.flag.flag-in {
    background-position: -108px -36px;
}

.flag.flag-is {
    background-position: -126px -36px;
}

.flag.flag-it {
    background-position: 0 -48px;
}

.flag.flag-je {
    background-position: -18px -48px;
}

.flag.flag-jp {
    background-position: -36px -48px;
}

.flag.flag-kr {
    background-position: -54px -48px;
}

.flag.flag-li {
    background-position: -72px -48px;
}

.flag.flag-lt {
    background-position: -90px -48px;
}

.flag.flag-lu {
    background-position: -108px -48px;
}

.flag.flag-lv {
    background-position: -126px -48px;
}

.flag.flag-mc {
    background-position: 0 -60px;
}

.flag.flag-md {
    background-position: -18px -60px;
}

.flag.flag-me {
    background-position: -36px -60px;
}

.flag.flag-mk {
    background-position: -54px -60px;
}

.flag.flag-mt {
    background-position: -72px -60px;
}

.flag.flag-mx {
    background-position: -90px -60px;
}

.flag.flag-nl {
    background-position: -108px -60px;
}

.flag.flag-no {
    background-position: -126px -60px;
}

.flag.flag-nz {
    background-position: 0 -72px;
}

.flag.flag-pl {
    background-position: -18px -72px;
}

.flag.flag-pt {
    background-position: -36px -72px;
}

.flag.flag-ro {
    background-position: -54px -72px;
}

.flag.flag-rs {
    background-position: -72px -72px;
}

.flag.flag-ru {
    background-position: -90px -72px;
}

.flag.flag-se {
    background-position: -108px -72px;
}

.flag.flag-si {
    background-position: -126px -72px;
}

.flag.flag-sj {
    background-position: 0 -84px;
}

.flag.flag-sk {
    background-position: -18px -84px;
}

.flag.flag-sm {
    background-position: -36px -84px;
}

.flag.flag-ua {
    background-position: -54px -84px;
}

.flag.flag-us {
    background-position: -72px -84px;
}

.flag.flag-va {
    background-position: -90px -84px;
}
